
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>





</head>
<body style="background-color:#f1f1f1">

    <style>
        #loginf {
            background-color: #808080;
            width: 20%;
            padding: 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

            li a.active {
                background-color: #04AA6D;
                color: white;
            }

            li a:hover:not(.active) {
                background-color: #555;
                color: white;
            }






        #table {
            background-color: #808080;
            height: 50px;
            float: right;
            padding: 17px;
        }








        #pic {
            height: 120px;
            float: left;
            padding: 18px;
            background-color: #808080;
            width: 190px;
        }

        #foter {
            background-color: brown;
            height: 30px;
            width: auto;
        }

        #header {
            background-color: #808080;
            height: 80px;
            width: auto;
            padding: 5px;
        }

        #StudentInformation {
            float: right;
        }

        #Mytable, td, th {
            border: 1px solid;
            padding: 10px;
            text-align: center;
        }
    </style>






    <div id="header">


        <div id="pic">

            <img src="~/images/DSC_0247.jpg" height="100px" width="80px" float="left" /><br />

            <input type="button" value="EditPicture" class="buttion" buttion style="background-color:#ffffff" /><br />
            <input type="button" value="EditProfile" class="buttion" buttion style="background-color:#ffffff" />

        </div>



        <div id="table">



             <strong>Mohammad Imran DishBoard</strong>


        </div>


    </div>

    <div id="StudentInformation">

        <h1> Student Enrolled Courses</h1>

        <p>this is a Student inrolled subjects list psge </p>
        <p>
            thid page related to the view of student rigester courses
        </p>

        <table id="Mytable">
            <tr>
                <th class="thh"> Name  </th>
                <th>FatherName</th>
                <th>Register Courses</th>
                <th>Program</th>
                <th>Semester</th>

            </tr>
           

            <tr>
                <td>Arman</td>

                <td>HASSAN KHAN</td>

                <td>DB,Web Development,Algorithms</td>

                <td>Mscs</td>

                <td>3rd</td>


            </tr>

        </table>
    </div>


    @*student login portal*@
    <div id="loginf">
        <h2>Student DashBoard</h2>
        <ul>


            <li><a href="@Url.Action("Index", "Home")">Student Profile</a></li>

            <li> <a class="active" href="@Url.Action("StudentEnroledSubject", "Home")">Enrolled subjects</a></li>
            <li> <a href="@Url.Action("StudentGradeBySemester", "Home")">Student Grade by Subjects.</a></li>
            <li> <a href="@Url.Action("WithdrawAssignments", "Home")"> Withdraw a subjects</a></li>
            <li> <a href="@Url.Action("UploadAssignment", "Home")">Upload Assignments</a></li>
            <li> <a href="@Url.Action("ListOfAssignment", "Home")">List of Assignments</a></li>
            <li> <a href="@Url.Action("stParentDetails", "Home")">Student parent Details</a></li>



        </ul>


    </div>



    <div id="foter">
        <p style="color:white" text-align="center">2021@All Right reserved<</p>
    </div>



</body>
</html>
